*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-color: #E5E5E5;
    box-sizing: border-box;
}

.apresentacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10%;
}

.tudomenosimg-e-botao{
    width:622.93px;
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 20px;
    
}
.titulo{
 font-size: 58.06px;
}

.paragrafo{
font-size: 24.19px;
}

.botoes{
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 24px;
}

.botao{
   background-color:#D372D0 ;
   color: white;
   width: 219px;
   border-radius: 5px;
   font-size: 24px;
   padding: 10px 0;
   display: flex;
  align-items: center;
  justify-content: center;
}
.botao2{
    background-color: #E5E5E5;
    color:#D372D0;
    width: 219px;
    border-radius: 10px;
    border-color: #D372D0;
    font-size: 24px;
    padding: 10px 0;
    border: 5px solid #D372D0;
    box-sizing: border-box;
}

.cabecalho_menu{
    display: flex;
    gap:80px;
    background-color: #D372D0;
    box-sizing: border-box;
    height:50px ;
    align-items: center;
    justify-content: space-between;
    
    
}
.cabecalho_menu_link{
    text-decoration: none;
    color:#FFFFFF;
    
}
.cabecalho-texto{
    color:#FFFFFF;
}

.links{
  padding: 15%;
  font-size: 20px
 
}
 .cabecalho-texto{
    padding:15%;
    font-size: 20px
 }